// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #940000,
  secondary:  #32db64,
  danger:     #f53d3d,
  fulllight:  #bbb,
  light:      #333,
  dark:       #222,
  fulldark:   #111,
);

$background-color: color($colors, dark);

$toolbar-md-title-text-color: color($colors, fulllight);
$toolbar-md-text-color: color($colors, fulllight);
$toolbar-background: color($colors, primary);

$alert-md-input-text-color: color($colors, fulllight);
$alert-md-background-color: color($colors, dark);

$alert-md-message-text-color: #fff;

//$alert-md-button-background-color: color($colors, primary);

$text-color: color($colors, fulllight);
$note-md-color: color($colors, fulllight);
//$label-text-color: #fff;

$item-md-divider-color: color($colors, fulllight);
$item-md-divider-background: color($colors, fulldark);
$item-md-divider-border-bottom: 1px solid color($colors, light);

$list-md-border-color: color($colors, light);

$refresher-icon-color: color($colors, primary);
$refresher-text-color: color($colors, fulllight);
$refresher-border-color: color($colors, light);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$background-ios-color: color($colors, dark);
$toolbar-ios-background: color($colors, primary);
$loading-ios-background: color($colors, dark);
$loading-ios-text-color: color($colors, fulllight);
$menu-ios-background: color($colors, dark);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$background-md-color: color($colors, dark);
$toolbar-md-background: color($colors, primary);
$loading-md-background: color($colors, dark);
$loading-md-text-color: color($colors, fulllight);
$menu-md-background: color($colors, dark);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$background-wp-color: color($colors, dark);
$toolbar-wp-background: color($colors, primary);
$loading-wp-background: color($colors, dark);
$loading-wp-text-color: color($colors, fulllight);
$menu-wp-background: color($colors, dark);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
