page-game-controller {
  .scroll-content {
    //overflow-y: hidden !important;
    padding-bottom: 0px !important; //important to API 21
    display: flex;
    flex-flow: column;
  }

  .avatar {
    height: 100%;
    border-radius: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .answers-container {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .answers {
    flex-grow: 1;
    margin: 4vh 4vh 0 4vh;
    display: flex;
    flex-direction: column;
  }

  .answers {
    div {
      flex-grow: 1;
      margin: 0 0 4vh;
      box-shadow:
        -0.25vw 0.25vh  0.3vw 0.3vh rgba(0, 0, 0, .3),
        inset -0.25vw 0.25vh 0.3vw 0.3vh rgba(0, 0, 0, 0.1),
        inset 0.25vw -0.25vh 0.3vw 0.3vh rgba(255, 255, 255, 0.1);
      border-radius: 2vh;
    }

    .zero {
      background-color: rgba(32,6,145, 0.7);
      border: 0.2vh solid #200691;
    }

    .one {
      background-color: rgba(166,74,0, 0.7);
      border: 0.2vh solid #a64a00;
    }

    .two {
      background-color: rgba(31,152,7, 0.7);
      border: 0.2vh solid #1f9807;
    }

    .three {
      background-color: rgba(146,148,1, 0.7);
      border: 0.2vh solid #929401;
    }
  }

  .buzzer {
    height: 84vh;
    max-height: 84vw;
    max-width: 84vw;
    margin: auto;
    box-shadow:
      -0.25vw 0.25vh  0.3vw 0.3vh rgba(0, 0, 0, .3),
      inset -0.25vw 0.25vh 0.3vw 0.3vh rgba(0, 0, 0, 0.1),
      inset 0.25vw -0.25vh 0.3vw 0.3vh rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    background-color: #c00;
    border: 0.4vh solid #c00;
  }

  .disabled {
    background-color: #444 !important;
    border: 0.4vh solid #444 !important;
  }

  .information {
    margin: auto 4vh;
    text-align: center;
    font-size: 1.6em;
  }

  .exit-button {
    margin: auto;
  }

  .end-icon {
    width: 100%;
    font-size: 30em;
    text-align: center;
  }
}
